
/* Global Variables */

// Options booleans
$mq-useAdaptive: true !global; // Media Querie mixin will skip if this ain't true
$debug: false !global; // Show debug features




// Brand Color (Additions 2015)
$color_darkgrey: #383838;
$color_midgrey: #6F777E;
$color_lightgrey: #D7D7D7;
$color_turquoise: #3CAFA4;
$color_darkblue: #2D2E3C;


// Standard Colors
$color_black: #000000;
$color_white: #ffffff;
$color_logo: #00664c;
$color_lightergrey: #e5e5e5;
$color_almostwhite: #f7f8f8;


// Media Queries, Labels and Content widths
@include newMediaQuerie((name: mobile, min-width: 1px, max-width: 767px, contentWidth: 100%, default: true));
//@include newMediaQuerie((name: tablet, min-width: 768px, max-width: 1024px, contentWidth: 560px));
@include newMediaQuerie((name: tablet, min-width: 768px, max-width: 1024px, contentWidth: 100%));
@include newMediaQuerie((name: desktop, min-width: 1025px, contentWidth: 960px));




// Global font type
//$font_basic: "Verdane", "Myriad Pro", "Arial", Sans-serif;
$font_basic: "Arial",  Sans-serif;

$font_HelveticaNeueBlack: 'HelveticaNeueW01-95Blac', $font_basic;
$font_HelveticaNeueHeavy: 'HelveticaNeueW01-85Heav', $font_basic;
$font_HelveticaNeueBold: 'HelveticaNeueW01-75Bold', $font_basic;
$font_HelveticaNeueMedium: 'HelveticaNeueW01-65Medi', $font_basic;
$font_HelveticaNeueRoman: 'Helvetica Neue LT W06_55 Roman', $font_basic;
$font_HelveticaNeueRomanLatin: 'HelveticaNeueW01-56It', $font_basic;
$font_HelveticaNeueLight: 'HelveticaNeueW01-45Ligh', $font_basic;
$font_HelveticaNeueLightLatin: 'HelveticaNeueW01-46Ligh', $font_basic;


