extends master

block append content

	div.container
		div.container__content
			div.container__inner
				//form.form(action="/addcard", method="post")
				form.form(name="cardform" novalidate, data-ng-controller="AddCardCtrl as addcard", data-ng-submit="addcard.postCard(cardform)")

					div(data-ng-show="cardform.pending") Request pending...
					div(data-ng-show="cardform.success") Card successfully created
					div(data-ng-show="cardform.error") An error occurred

					//label.form__label Type
					select.form__select(data-ng-model="cardform.cardtype", data-ng-init="cardform.cardtype = 'character'")
						option(value="character") character
						option(value="trait") trait
						option(value="scenario") scenario
						option(value="combi-character") combi-character
						option(value="combi-trait") combi-trait
						option(value="combi-scenario") combi-scenario

					//div
						label.form__label Character
						input.form__input(type="radio", name="type", value="character", checked="checked", data-ng-model="cardform.type")
						label.form__label Trait
						input.form__input(type="radio", name="type", value="trait", data-ng-model="cardform.type")
						label.form__label Scenario
						input.form__input(type="radio", name="type", value="scenario", data-ng-model="cardform.type")
						label.form__label Combi Character card
						input.form__input(type="radio", name="type", value="combi-character", data-ng-model="cardform.type")
						label.form__label Combi Trait card
						input.form__input(type="radio", name="type", value="combi-trait", data-ng-model="cardform.type")
						label.form__label Combi Scenario card
						input.form__input(type="radio", name="type", value="combi-scenario", data-ng-model="cardform.type")

					//input.form__input(type="text", name="name", placeholder="Card name", data-ng-model="cardform.name")

					textarea.form__textarea(placeholder="Card text", name="text", data-ng-value="" required data-ng-model="cardform.cardtext")
					//textarea.form__input(placeholder="Alt. text", name="altText", data-ng-model="cardform.altText")

					input.form__button(type="submit", value="Add card")