extends master

block append content

	//div.container
		div.container__content
			div.container__inner content

	div.menu(data-ng-class="{'menu--hide': !main.states.showMenu}")
		div.menu__item(data-ng-click="main.newGame('host')") Host game
		div.menu__item(data-ng-click="main.newGame('player')") Join game
		div.menu__item(data-ng-click="main.getCards()") List cards
		a.menu__item(href="/addcard") Add cards
		div.menu__item(data-ng-click="main.states.showMenu = false") Close


	div.table
		div.table__column
			div.table__card
				div.card
					div.card__inner
			div.table__card
				div.card
					div.card__inner
		div.table__column
			div.table__card
				div.card
					div.card__inner
			div.table__card
				div.card
					div.card__inner
		div.table__column
			div.table__card
				div.card
					div.card__inner
		div.table__column
			div.table__card
				div.card
					div.card__inner
		div.table__column
			div.table__card
				div.card
					div.card__inner
			div.table__card
				div.card
					div.card__inner

	//div.deck
		div.deck__card(data-ng-repeat="card in main.cards")
			div.deck__cardinner
				div.card
					div.card__inner(data-ng-bind="card.text")

	div.fixedmenu(data-ng-class="{'fixedmenu--show': main.states.showFixedmenu}")
		div.fixedmenu__item(data-ng-repeat="item in main.gamemode.actions", data-ng-bind="item.text", data-ng-class="{'fixedmenu__item--active': item.states.active}", data-ng-click="item.action(item)")