extends master

block append content

	div.container
		div.container__content
			div.container__inner content

	div.menu
		div.menu__item Host game
		div.menu__item Join game
		a.menu__item(href="/addcard") Add cards

	div.fixedmenu
		div.fixedmenu__item 1
		div.fixedmenu__item 2
		div.fixedmenu__item 3
		div.fixedmenu__item 4