extends master

block append content

	div.container
		div.container__content
			div.container__inner content

	div.menu
		div.menu__item Host game
		div.menu__item Join game
		div.menu__item(data-ng-click="main.getCards()") List cards
		a.menu__item(href="/addcard") Add cards

	div.deck
		div.deck__card(data-ng-repeat="card in main.cards")
			div.card
				div.card__inner(data-ng-bind="card.text")

	div.fixedmenu
		div.fixedmenu__item 1
		div.fixedmenu__item 2
		div.fixedmenu__item 3
		div.fixedmenu__item 4