doctype html
html(data-ng-app="noerd.BrugSkallen")
	head
		title= title
		link(rel='stylesheet', href='/css/main.css')
	body
		div.container
			div.container__content
				div.container__inner
					block content