doctype html
html(data-ng-app="frost.Superfight")
	head
		title= title
		link(rel='stylesheet', href='/css/main.css')
		script(src="/script/angular.js")
	body
		div.container
			div.container__content
				div.container__inner
					block content
		script(src="/script/app.js")
		script(src="/script/controllers/addcard.controller.js")

