/* Sprite Setup */
/* Global mediaQueries mixin */
/* Global Variables */
/* Global font Calculation */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/global\/_global_fonts\.scss}line{font-family:\0000380}}
html {
  font-size: 112.5% !important;
}

/* Global Mixins */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\000037}}
.container {
  -moz-transition: -moz-transform 800ms ease;
  -o-transition: -o-transform 800ms ease;
  -webkit-transition: -webkit-transform 800ms ease;
  transition: transform 800ms ease;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
  opacity: 1;
  overflow-y: hidden;
  overflow-x: hidden;
  top: 0;
  left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000330}}
.container:after {
  content: "";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000337}}
.container,
.container__inner,
.container__content,
.container__overlay,
.container__overlaybg,
.container_bg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000350}}
.container__inner {
  position: relative;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000353}}
.container__inner:after {
  content: "";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000363}}
.container__content {
  width: 100%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000376}}
.container__overlay {
  display: block;
  position: relative;
  width: 80%;
  background-color: inherit;
  background-image: url("/images/graphic/sun_bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center top;
  margin: 40px auto 100px auto;
  padding: 15px 20px;
  z-index: 50;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\0000396}}
.container__scrollarea {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  display: none;
  z-index: 50;
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003115}}
.container__scrollarea::-webkit-scrollbar {
  width: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003121}}
.container__bg {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003133}}
.container__bg:before {
  display: none;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003150}}
.container--list {
  position: static;
  display: block;
  width: 100%;
  height: 100%;
  padding: 0;
  overflow-y: scroll;
  overflow-scrolling: touch;
  -webkit-overflow-scrolling: touch;
  overflow: hidden;
  -ms-overflow-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003169}}
.container--list::-webkit-scrollbar {
  width: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003174}}
.container--list:after {
  content: "";
  display: block;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003181}}
.container--lockscroll {
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003185}}
.container__content--center {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003199}}
.container__scrollarea--show {
  display: block;
}

@media all and (min-width: 768px) and (max-width: 1024px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003207}}
  .container__content {
    width: 100%;
  }
}
@media all and (min-width: 1025px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_container\.scss}line{font-family:\00003213}}
  .container__content {
    width: 960px;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\000036}}
.form {
  display: block;
  width: 100%;
  font-family: "Open Sans", "Arial", Sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000312}}
.form,
.form__line,
.form__label,
.form__input,
.form__button,
.form__textarea,
.form__select,
.form__msg {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000327}}
.form__input, .form__textarea, .form__select {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #ffffff;
  outline: none;
  border: 1px solid #383838;
  font-family: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/global\/_global_fonts\.scss}line{font-family:\0000342}}
.form__input, .form__textarea, .form__select {
  font-size: 16px;
  font-size: 0.8888888889rem;
  line-height: 19.2px;
  line-height: 1.0666666667rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000340}}
.ng-invalid-required.ng-dirty.form__input, .ng-invalid-required.ng-dirty.form__textarea, .ng-invalid-required.ng-dirty.form__select {
  border: 1px solid red;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000346}}
.form__button {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px 10px 10px 10px;
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 12px;
  min-width: 170px;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  text-rendering: optimizelegibility;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  font-family: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/global\/_global_fonts\.scss}line{font-family:\0000342}}
.form__button {
  font-size: 18px;
  font-size: 1rem;
  line-height: 18px;
  line-height: 1rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000368}}
.form__line {
  display: block;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000371}}
.form__line + .form__line {
  margin-top: 14px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000376}}
.form__line .form__input + .form__input {
  margin-top: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000382}}
.form__label {
  display: block;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\0000391}}
.form__textarea {
  min-height: 350px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/global\/_global_fonts\.scss}line{font-family:\0000342}}
.form__textarea {
  font-size: 24px;
  font-size: 1.3333333333rem;
  line-height: 28.8px;
  line-height: 1.6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\00003107}}
.form__msg {
  -moz-transform: translate(0, 3px);
  -ms-transform: translate(0, 3px);
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);
  display: block;
  width: 100%;
  position: relative;
  z-index: -1;
  color: red;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/global\/_global_fonts\.scss}line{font-family:\0000342}}
.form__msg {
  font-size: 12px;
  font-size: 0.6666666667rem;
  line-height: 12px;
  line-height: 0.6666666667rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\00003125}}
.form__input + *,
.form__textarea + *,
.form__button + *,
.form__select + * {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\00003133}}
.form__line--2:after {
  content: "";
  display: block;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\00003138}}
.form__line--2 .form__input {
  width: calc(50% - 7px);
  margin-right: 7px;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_form\.scss}line{font-family:\00003142}}
.form__line--2 .form__input + .form__input {
  margin-top: 0;
  margin-right: 0;
  margin-left: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_menu\.scss}line{font-family:\000036}}
.menu {
  display: block;
  font-family: "Open Sans", "Arial", Sans-serif;
  position: fixed;
  z-index: 50;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -webkit-box-direction: normal;
  -moz-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_menu\.scss}line{font-family:\0000344}}
.menu,
.menu__item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_menu\.scss}line{font-family:\0000353}}
.menu__item {
  position: relative;
  display: block;
  width: 100%;
  clear: both;
  text-align: center;
  padding: 20px;
  border: 1px solid #000000;
  background-color: #ffffff;
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_menu\.scss}line{font-family:\0000363}}
.menu__item + .menu__item {
  margin-top: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_menu\.scss}line{font-family:\0000370}}
.menu--show {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_menu\.scss}line{font-family:\0000374}}
.menu--hide {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_fixedmenu\.scss}line{font-family:\000036}}
.fixedmenu {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transform: translate(0, 100%);
  -ms-transform: translate(0, 100%);
  -webkit-transform: translate(0, 100%);
  transform: translate(0, 100%);
  display: block;
  width: 100%;
  font-family: "Open Sans", "Arial", Sans-serif;
  color: #ffffff;
  position: fixed;
  z-index: 40;
  bottom: 0;
  left: 0;
  height: 50px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_fixedmenu\.scss}line{font-family:\0000338}}
.fixedmenu,
.fixedmenu__item {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_fixedmenu\.scss}line{font-family:\0000347}}
.fixedmenu__item {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  -moz-transform: translate(0, 10px);
  -ms-transform: translate(0, 10px);
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  display: block;
  float: left;
  height: 100%;
  min-width: 90px;
  text-align: center;
  color: #ffffff;
  background-color: #000000;
  text-decoration: none;
  padding-bottom: 10px;
  cursor: pointer;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_fixedmenu\.scss}line{font-family:\0000381}}
.fixedmenu__item + .fixedmenu__item {
  margin-left: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_fixedmenu\.scss}line{font-family:\0000388}}
.fixedmenu--show {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_fixedmenu\.scss}line{font-family:\0000392}}
.fixedmenu__item--active {
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_deck\.scss}line{font-family:\000036}}
.deck {
  display: block;
  width: 100%;
  font-family: "Open Sans", "Arial", Sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_deck\.scss}line{font-family:\0000312}}
.deck,
.deck__card,
.deck__cardinner {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_deck\.scss}line{font-family:\0000322}}
.deck__card {
  -moz-transition: all 300ms ease;
  -o-transition: all 300ms ease;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  display: block;
  float: left;
  width: 33.3333333333%;
  padding-bottom: 50%;
  overflow: hidden;
  background-color: #ffffff;
  border: 1px solid #f2f2f2;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_deck\.scss}line{font-family:\0000336}}
.deck__cardinner {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  padding: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_card\.scss}line{font-family:\000036}}
.card {
  -moz-border-radius: 5% 5% 5% 5%;
  -webkit-border-radius: 5%;
  border-radius: 5% 5% 5% 5%;
  -moz-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.4);
  display: block;
  width: 100%;
  padding-bottom: 130%;
  background-color: #f9f9f9;
  border: 1px solid #e5e5e5;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_card\.scss}line{font-family:\0000317}}
.card,
.card__inner {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_card\.scss}line{font-family:\0000326}}
.card__inner {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\000036}}
.table {
  display: block;
  width: 100%;
  padding: 10px;
  min-height: 100%;
  background-color: #6F777E;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\0000312}}
.table::after {
  content: "";
  display: table;
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\0000319}}
.table,
.table__column,
.table__card {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\0000329}}
.table__column {
  display: block;
  width: 33.3333333333%;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\0000333}}
.table__column:nth-child(3n+1) {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\0000338}}
.table__card {
  padding: 15px 15px 0 0;
  display: block;
  width: 100%;
  clear: both;
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/block\/_table\.scss}line{font-family:\0000344}}
.table__card + .table__card {
  padding-top: 5px;
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\000035}}
html,
button,
input,
select,
textarea {
  color: #222;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000313}}
body {
  font-size: 1em;
  line-height: 1.4;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000318}}
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000323}}
::selection {
  background: #b3d4fc;
  text-shadow: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000328}}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000337}}
img {
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000341}}
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000347}}
textarea {
  resize: vertical;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000351}}
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\0000396}}
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003103}}
.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003110}}
.hidden {
  display: none !important;
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003115}}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003126}}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003136}}
.invisible {
  visibility: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003140}}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003146}}
.clearfix:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003150}}
.clearfix {
  *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003159}}
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003166}}
  a,
  a:visited {
    text-decoration: underline;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003171}}
  a[href]:after {
    content: " (" attr(href) ")";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003175}}
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links for images, or javascript/internal links
   */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003183}}
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003189}}
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003195}}
  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003199}}
  tr,
  img {
    page-break-inside: avoid;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003204}}
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003212}}
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_boilerplate\.scss}line{font-family:\00003219}}
  h2,
  h3 {
    page-break-after: avoid;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\000031}}
html, body {
  margin: 0;
  height: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\000037}}
a {
  color: inherit;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\000039}}
a img {
  border: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Workspace\/frost\.superfight\/assets\/styles\/vendor\/_vendor_pollutions\.scss}line{font-family:\0000315}}
h1, h2, h3, h4, p {
  margin-top: 0;
}

/*# sourceMappingURL=main.css.map */
