

// PARAMETERS

// BLOCK
.card {
  @include transition(all 300ms ease);
  @include border-radius(10% 10% 10% 10%);
  @include box-shadow(3px 3px 7px 0px rgba($color_black, 0.4));
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-bottom: 130%;
  color: $color_black;
  background-color: mix($color_white, $color_black, 98%);
  border: 1px solid mix($color_white, $color_black, 70%);
  // Back
  &::before {
    @include transition(all 300ms ease);
   // @include rotate3d(0, 0, 0, 30deg);
    @include rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/cardback.gif');
    background-repeat: repeat;
  }
}

.card,
.card__inner {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.card__inner {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

//--- MODIFIERS ----------------------------------------------------------//

.card--back {
  @include rotateY(180deg);
  &::before {
    @include rotateY(360deg);
  }
}

.card--pick {

}

.card--char {

}

.card--trait {
  background-color: $color_black;
  color: $color_white;
}

.card--scenario {

}

.card--traitTrade {
  background-color: $color_black;
  color: $color_white;
  border: 1px solid greenyellow;
}

.card--traitRandom {
  background-color: $color_black;
  color: $color_white;
  border: 1px solid red;
}

//--- MEDIA QUERRIES ----------------------------------------------------------//
