

// PARAMETERS

// BLOCK
.card {
  @include border-radius(5% 5% 5% 5%);
  //@include box-shadow(inset 0 0 30px 5px rgba($color_white, 0.8));
  @include box-shadow(3px 3px 7px 0px rgba($color_black, 0.4));
  display: block;
  width: 100%;
  padding-bottom: 130%;
  background-color: mix($color_white, $color_black, 98%);
  border: 1px solid mix($color_white, $color_black, 90%);
}

.card,
.card__inner {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.card__inner {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

//--- MODIFIERS ----------------------------------------------------------//

.card--back {

}

.card--pick {

}


//--- MEDIA QUERRIES ----------------------------------------------------------//
