

// PARAMETERS

// BLOCK
.hand {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  overflow: auto;
  background-color: rgba($color_black, 0.7);
}

.hand,
.hand__cards {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.hand__cards {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: auto;
  padding: 20px;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-box-align: center;
  -webkit-flex-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;

  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

}

.hand__card {
  display: block;
  width: 200px;
  & + & {
    margin-left: 10px;
  }
}

//--- MODIFIERS ----------------------------------------------------------//

.hand--show {
  display: block;
}


//--- MEDIA QUERRIES ----------------------------------------------------------//
