

// PARAMETERS
$_logoWidth: image-width('../images/graphic/intro_header.png');
$_logoHeight: image-height('../images/graphic/intro_header.png');
$_logoRatio: ($_logoWidth / $_logoHeight);

$_teaserWidth: image-width('../images/graphic/attachment_banner.png');
$_teaserHeight: image-height('../images/graphic/attachment_banner.png');
$_teaserRatio: ($_teaserWidth / $_teaserHeight);

$_scrolldownWidth: image-width('../images/graphic/arrow_scrolldown.png');
$_scrolldownHeight: image-height('../images/graphic/arrow_scrolldown.png');
$_scrolldownRatio: ($_scrolldownWidth / $_scrolldownHeight);

// BLOCK
.intro {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.intro,
.intro__logo,
.intro__scrolldown,
.intro__actors,
.intro__teaser {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

//--- ELEMENTS ----------------------------------------------------------//

.intro__logo {
  background-image: url('/images/graphic/intro_header.png');
  background-repeat: no-repeat;
  background-position: center top;
  width: 90%;
  padding-bottom: (100% / $_logoRatio * 0.9);
  display: block;
  z-index: 1;
  position: absolute;
  top: 15%;
  left: 5%;
  background-size: contain;
}

.intro__scrolldown {
  @include animation(pop 10s ease infinite);
  background-image: url('/images/graphic/arrow_scrolldown.png');
  width: $_scrolldownWidth;
  height: $_scrolldownHeight;
  display: block;
  position: absolute;
  z-index: 10;
  bottom: 20px;
  left: calc(50% - #{$_scrolldownWidth / 2});
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
  &:active {
    opacity: 1;
  }
}

.intro__actors {
  position: absolute;
  top: 35%;
  width: 100%;
  left: 0;
  z-index: 5;
}

.intro__teaser {
  @include transition(transform 300ms ease);
  @include translate(0, 0);
  @include scale(1);
  @include transform-origin(0%, 50%);
  background-image: url('/images/graphic/attachment_banner.png');
  width: $_teaserWidth;
  height: $_teaserHeight;
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  left: 0;
  top: calc(80% - #{$_teaserHeight / 2});
  z-index: 10;
  display: none;
  cursor: pointer;
  &:hover,
  &:active {
    //@include translate(-5%, 0);
    @include scale(1.1);
  }
}

//--- MODIFIERS ----------------------------------------------------------//



//--- MEDIA QUERRIES ----------------------------------------------------------//

@include mediaQueries(mobile) {
  .intro__logo {
    top: 20%;
  }
  .intro__actors {
    width: 120%;
    left: -10%;
    top: 41%;
  }
  @include landscape() {
    .intro__logo {
      width: 40%;
      padding-bottom: (100% / $_logoRatio * 0.4);
      left: 30%;
    }
    .intro__actors {
      top: 40%;
      width: 60%;
      left: 20%;
    }
  }
}

@include mediaQueries(tablet) {
  .intro__logo {
    //height: $_logoHeight;
    height: 20%;
    width: $mq-contentWidth;
    left: calc(50% - #{$mq-contentWidth / 2});
    padding-bottom: 0;
    top: 20%;
  }
  .intro__actors {
    top: 42%;
    width: 100%;
    left: 0;
  }
  .intro__teaser {
    display: block;
    width: ($_teaserWidth * 0.75);
    top: calc(49% - #{$_teaserHeight / 2});
  }
  .intro__scrolldown {

  }
  @include landscape() {
    /*
    .intro__logo {
      width: 50%;
      padding-bottom: (100% / $_logoRatio * 0.5);
      left: 25%;
    }
    */
    .intro__actors {
      top: 40%;
      width: 60%;
      left: 20%;
    }
  }
}

@include mediaQueries(desktop) {
  .intro__logo {
    //height: $_logoHeight;
    height: $_logoHeight;
    height: 25%;
    //width: $mq-contentWidth;
    width: 40%;
    //left: calc(50% - #{$mq-contentWidth / 2});
    left: 30%;
    padding-bottom: 0;
  }
  .intro__actors {
    top: 40%;
    width: 60%;
    left: 20%;
  }
  .intro__teaser {
    display: block;
    top: calc(50% - #{$_teaserHeight / 2});
  }
  .intro__scrolldown {

  }
}


//--- KEYFRAME ANIMATIONS ----------------------------------------------------------//

@include keyframes(pop) {
  40%, 60% {
    @include translate(0%, 0%);
  }
  45% {
    @include translate(0%, -30%);
  }
  50% {
    @include translate(0%, 0%);
  }
  55% {
    @include translate(0%, -30%);
  }
}
