.print {
    padding: 20px 0; 
}

.print__container {
    margin: auto;
    position: relative;
    width: 900px;

    .rte {
        color: #000;
        margin: 25px 0;

        h2 {
            color: #000;
            margin: 1em 0;
            text-align: center;
        }
    }

    .rte__image:before {
        background-color: #fff !important;
        color: #000;
    }
}

.print__header-img {
    display: block;
    margin: auto;
    width: 400px;
}

.print__header-logo {
    position: absolute;
    top: 0;
    right: 0;
}

