

// PARAMETERS
$_splashLogoWidth: image-width('../images/graphic/splash_flip_warning.png');
$_splashLogoHeight: image-height('../images/graphic/splash_flip_warning.png');
$_splashLogoRatio: ($_splashLogoWidth / $_splashLogoHeight);


// BLOCK
.splash {
	height: 100%;
	width: 100%;
	display: block;
	overflow: hidden;
	position: fixed;
  top: 0;
  left: 0;
	text-align: center;
  background-color: $color_easter;
  color: $color_hearth;
  z-index: 99;
  background-image: url('/images/graphic/sun_bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-box-align: center;
	-webkit-flex-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;

	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.splash,
.splash__box {
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}


//--- ELEMENTS ----------------------------------------------------------//

.splash__box {
  background-image: url('/images/graphic/splash_flip_warning.png');
  background-position: 40% 0%;
  background-repeat: no-repeat;
  width: ($_splashLogoWidth + 200px);
  //height: $_splashLogoHeight;
  padding-top: ($_splashLogoHeight + 20px);
  margin: 20px;
}


//--- MODIFIERS -------------------------------------------------------//

@include mediaQueries(mobile) {
  @include portrait() {
    .splash {
      display: none;
      z-index: -1;
    }
  }
}

@include mediaQueries(tablet) {
  .splash {
    display: none;
    z-index: -1;
  }
}

@include mediaQueries(desktop) {
  .splash {
    display: none;
    z-index: -1;
  }
}
